.task-name
    input(
        type='text'
        placeholder="{{'TASK.PLACEHOLDER_SUBJECT' | translate}}"
    )
.task-settings
    a.save-task(
        href=""
        title="{{'COMMON.SAVE' | translate}}"
    )
        tg-svg(svg-icon="icon-save")
    a.cancel-edit(
        href=""
        title="{{'COMMON.CANCEL' | translate}}"
    )
        tg-svg(svg-icon="icon-cancel")

.status(tg-related-task-status='task', ng-model='task')
  a.task-status(href='', title="{{'TASK.TITLE_SELECT_STATUS' | translate}}")
    span.task-status-bind
    tg-svg(svg-icon="icon-arrow-down")

.assigned-to(tg-related-task-assigned-to-inline-edition='task')
  .task-assignedto(title="{{'COMMON.FIELDS.ASSIGNED_TO' | translate}}")
    figure.avatar
    tg-svg(svg-icon="icon-arrow-down")
.dates
    div.dropdown
        a.dropdown-toggle(id="dropdownTaskStart" role="button" data-toggle="dropdown" data-target="#" href="#")
            input.date-start(
                type="text"
                name="estimated_start"
                data-ng-model="task.estimated_start"
                data-required="true"
                placeholder="{{'LIGHTBOX.ADD_EDIT_SPRINT.PLACEHOLDER_SPRINT_START' | translate}}"
            )
        ul.dropdown-menu(role="menu")
            datetimepicker.dropdown_start(
                data-ng-model="task.estimated_start"
                data-datetimepicker-config="{ dropdownSelector: '#dropdownTaskStart' }"
            )

    div.dropdown
        a.dropdown-toggle(id="dropdownTaskEnd" role="button" data-toggle="dropdown" data-target="#" href="#")
            input.date-end(
                type="text"
                name="estimated_end"
                data-ng-model="task.estimated_end"
                data-required="true"
                placeholder="{{'LIGHTBOX.ADD_EDIT_SPRINT.PLACEHOLDER_SPRINT_END' | translate}}"
            )
        ul.dropdown-menu(role="menu")
            datetimepicker.dropdown_end(
                data-ng-model="task.estimated_end"
                data-datetimepicker-config="{ dropdownSelector: '#dropdownTaskEnd' }"
            )
